// 超链接样式
.post-body a {
    color: rgb(32, 178, 170);
    &:hover {
      color: rgb(30, 144, 255);
    }
}
.posts-expand .post-meta a, .post-copyright a {
    &:hover {
      color: rgb(30, 144, 255);
    }
}
a {
}
a:hover {
    color: rgb(30, 144, 255);
}